body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #faf8ef;
  }
  
  .game-container {
    text-align: center;
  }
  
  .board {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
  }
  
  .row {
    display: flex;
  }
  
  .tile {
    width: 80px;
    height: 80px;
    margin: 5px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .tile-2 { background-color: #eee4da; }
  .tile-4 { background-color: #ede0c8; }
  .tile-8 { background-color: #f2b179; }
  .tile-16 { background-color: #f59563; }
  .tile-32 { background-color: #f67c5f; }
  .tile-64 { background-color: #f67c5f; }
  .tile-128 { background-color: #f9f3d3; }
  .tile-256 { background-color: #f9f3d3; }
  .tile-512 { background-color: #f9f3d3; }
  .tile-1024 { background-color: #f9f3d3; }
  .tile-2048 { background-color: #f9f3d3; }
  .tile-4096 { background-color: #f9f3d3; }
  .tile-8192 { background-color: #f9f3d3; }
  .tile-16384 { background-color: #f9f3d3; }
  .tile-32768 { background-color: #f9f3d3; }
  .tile-65536 { background-color: #f9f3d3; }
  .tile-131072 { background-color: #f9f3d3; }
  .tile-262144 { background-color: #f9f3d3; }
  .tile-524288 { background-color: #f9f3d3; }
  .tile-1048576 { background-color: #f9f3d3; }
  .tile-2097152 { background-color: #f9f3d3; }  
  
  
  .game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: red;
  }

  .btn-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #43474b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  

  .restart-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .restart-btn:hover {
    background-color: #45a049;
  }
  